<h1>New <%= server_singular_name.humanize %></h1>

<%% form_for(@<%= server_singular_name %>) do |f| %>
  <%%= render :partial => 'form', :locals => { :f => f } %>
  <%%= submit_tag "Create" %>
<%% end %>

<%%= link_to 'Back', <%= server_controller_plural_name %>_path %>
